#!/bin/bash

# sensible Defaults + Interactive improvements
alias mv="mv -iv"
alias cp="cp -riv"      # Ask confirmation
alias mkdir="mkdir -vp" 
alias rm="rm -rv"
alias rmdir="rmdir -pv" # Recursive, verbose
alias df="df -h"        # Human-readable sizes
alias free="free -m"    # Show sizes in MB
alias ps="ps -ef"       # All processess running on system
touch() { mkdir -p $( dirname "$1") && /usr/bin/touch "$1" }

# shortcuts
alias mk=mkdir
alias h=history
alias v="nvim"
alias t="touch"
alias c="clear"
alias o="open ."
alias x="chmod +x"
alias get="curl -O -L"
alias restart="sudo reboot"
alias bye="sudo shutdown -r now"
alias reload="source ~/.zshrc"

# alternatives + program shortcuts
alias vim=nvim
alias cat="bat --config-file=~/.config/bat/config"
alias cat=bat
alias l="exa --all --long --header --classify --icons --git --group-directories-first"
alias dirs="exa --list-dirs"
alias t=tree
alias tree3="exa --tree --level=3 -l"
alias tree2="exa --tree --level=2 -l"
alias json=fx

# directories
alias code="~/Documents/Code/"
alias notes="~/Documents/Code/notes/hugo/static/docs/"
alias sch="~/Documents/School/"
alias dots="~/Documents/Code/dotfiles/"
alias dot=dots
alias www="/var/www/"
alias comp="~/Pictures/Computer\ Misc/"
alias pics="~/Pictures/"

# new commands
alias ipp="echo Your ip is; dig +short myip.opendns.com @resolver1.opendns.com;"
alias speedtest='curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'

function mkcd() { 
    command mkdir -p $1 && cd $1 
}

# image convert
function img2w() {
    command convert $1 -background white -flatten $2
}

# ffmpeg
function ff3() {
    command ffmpeg -i $1 -acodec libmp3lame $2
}

# todo make this one ff3meta command
function ff3art() {
    command mkdir withArt
    for i in *.mp3
    do 
        command ffmpeg -y -i "$i" -i $1 -map 0:0 -map 1:0 -codec copy -id3v2_version 3 -metadata:s:v title="Album cover" -metadata:s:v comment="Cover (front)" "withArt/$i"
    done
    cd withArt
}

function ff3album() {
    command mkdir withAlbum
    for i in *.mp3
    do 
        command ffmpeg -y -i "$i" -c copy -metadata album="$1"  "withAlbum/$i"
    done
    cd withAlbum
}


function ff3artist() {
    command mkdir withArtist
    for i in *.mp3
    do 
        command ffmpeg -y -i "$i" -c copy -metadata album_artist="$2" -metadata artist="$2" "withArtist/$i"
    done
    cd withArtist
}

function ff4() {
    command ffmpeg -i $1 -codec copy -map_metadata 0 -movflags use_metadata_tags $2
}

function ff4c() {
    command ffmpeg -i $1 -vcodec h264 -acodec mp2 $1-compressed.mp4
}


# yt-dlp / youtube-dl
alias youtube-dl="yt-dlp"
alias ytva='yt-dlp --sponsorblock-mark all --sponsorblock-remove sponsor -o "~/Pictures/Computer Misc/%(title)s.%(ext)s"'
alias ytv='yt-dlp -o "~/Pictures/Computer Misc/%(title)s.%(ext)s"'
alias yta='yt-dlp --yes-playlist -x --audio-format mp3 -o "~/Music/Misc/%(title)s.%(ext)s"'

# git
alias gpom="git push origin master"
alias gs="git status"
alias gb="git branch"
alias gco="git checkout"

## gitlet cs61b
#alias gl="java -cp /home/max/Documents/Code/cs61b-akx/proj3 gitlet.Main"
#alias glb="make -C /home/max/Documents/Code/cs61b-akx/proj3/gitlet/ default && gl"
#alias gld="java -cp /home/max/Documents/Code/cs61b-akx/proj3 gitlet.DumpObj"
#alias gitlet=gl

# ssh
alias ssh="kitty +kitten ssh"
alias sshe="kitty +kitten ssh -F /mnt/veracrypt1/ssh/config"
alias sshk="/mnt/veracrypt1/ssh/"

# ptpython (better repl)
alias py="ptpython --vi"

# xcompatability
#alias sass="sassc"

