#!/bin/bash

alias ❯='' # NOOP prompt 1st char FSO easier copy paste; ble.sh strips it from history

# sensible defaults + interactive improvements
alias mv="mv -iv"
alias cp="cp -rivL"      # Ask confirmation, verbose, follow symlinks
alias cpf="yes | cp -rL" # No confirmation
alias mkdir="mkdir -vp"
alias rm="rm -rv"
alias rmdir="rmdir -pv" # Recursive, verbose
alias df="df -h"        # Human-readable sizes
alias free="free -m"    # Show sizes in MB
alias exifll="exiftool -p '\$gpslatitude, \$gpslongitude' -n"
alias exiftool="exiftool -n"    # numerical value output
touch() {
    mkdir -p "$(dirname "$1")" && command touch "$1"
}

# shortcuts
alias mk=mkdir
alias h=history
alias v="nvim"
alias t="touch"
alias c="clear"
alias o=xdg-open
alias p="ps uaxf"
alias x="chmod +x"
alias get="curl -O -L"
alias restart="sudo reboot"
alias bye="sudo shutdown -r now"
alias q=exit
alias what=type
alias lock="dm-tool lock"
alias jn="jupyter-notebook"
alias shizuku="adb shell sh /storage/emulated/0/Android/data/moe.shizuku.privileged.api/start.sh"

# reload
alias rb="source ~/.bashrc"
alias rz="source ~/.zshrc"
alias ra="source ~/.aliases"
alias rp="source ~/.profile"

# edit files
alias vb="vim ~/.bashrc"
alias vz="vim ~/.zshrc"
alias va="vim ~/.aliases"
alias vp="vim ~/.profile"

# alternatives + program shortcuts
alias vim=nvim
alias json=fx
alias cat=bat
alias ccat="bat --wrap=never"
alias py=bpython
ft() { stat --printf='modified: %y\naccessed: %x\n' "$@"; }
alias l="eza --all --long --header --classify --icons --git --group-directories-first"
alias dirs="eza --list-dirs"
alias t=tree
alias t3="eza --tree --level=3 -l"
alias t2="eza --tree --level=2 -l"
alias vs="\\code ."
alias mvi="mpv -profile image"
alias f8="ln -s ~/.config/flake8 ./.flake8" # no global conf my ass
alias sub="subliminal download -l 'en'"
alias gls="gitlinks set"

# directories
alias code="cd \${CODE_ROOT}"
alias notes="cd \${CODE_ROOT}/notes/hugo/static/docs/"
alias dots="cd \${CODE_ROOT}/dotfiles/"
alias dot=dots
alias www="/var/www/"
alias comp="~/Pictures/photos-pc/Computer\ Misc/"
alias pics="~/Pictures/"

# new commands
alias ipp="echo Your ip is; dig +short myip.opendns.com @resolver1.opendns.com;"
alias speedtest='curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'

# git
alias gs="git status"
alias gb="git branch"
alias ga="git add"
alias gaa="git add ."
alias gcm="git commit -m"
alias gp="git push"
alias gl="git pull"
alias gco="git checkout"
alias gd="git diff"
alias gr="git review"
alias gry="git review -y"
alias grx="git review -x"

# ssh
alias ssh="kitty +kitten ssh"
alias ssht="command ssh"    # ignore existing ssh alias

# yt-dlp
alias youtube-dl="yt-dlp"
alias ytvs='yt-dlp --sponsorblock-mark all --sponsorblock-remove sponsor --cookies-from-browser brave -o "~/Pictures/photos-pc/Computer Misc/%(title)s.%(ext)s"'
alias ytv='yt-dlp -o "~/Pictures/photos-pc/Computer Misc/%(title)s.%(ext)s"'
alias yta='yt-dlp --yes-playlist -x --audio-format mp3 -o "~/Music/%(title)s.%(ext)s"'

function bkup() {
    local d=false
    [[ "$1" == "-d" ]] && d=true && shift
    local t="${1%/}"
    local s=$($d && date +".%m-%d_%H-%S").bkup
    # TODO verify- bump depth?
    if [ ! -e "$t$s" ]; then
        local old=$(realpath -m "$t")
        mv -iv "$t" "$t$s"
        local new=$(realpath -m "$t$s")
        fd -t l -d 2 . "$(dirname "$old")" | while read -r lnk; do
            local tgt=$(realpath -m "$(dirname "$lnk")/$(readlink "$lnk")")
            [[ "$tgt" == "$old"* ]] && ln -sfn "${new}${tgt#"$old"}" "$lnk"
        done
    else
        echo "$t$s already exists"
    fi
}

function timesh () {
    shell=${1-$SHELL};
    for i in $(seq 1 10);
    do {
        env time -f "%e" "$shell" -i -c exit 2>&1 > /dev/null
    } 2>&1 | grep -v bleopt | grep -v exit;
    done
}

function mkcd() {
    # shellcheck disable=SC2164
    command mkdir -p "$1" && cd "$1"
}

# image convert
function img2w() {
    command convert "$1" -background white -flatten "$2"
}

# ffmpeg
function ff3() {
    command ffmpeg -i "$1" -acodec libmp3lame "$2"
}
# todo make this one ff3meta command
function ff3art() {
    command mkdir withArt
    for i in *.mp3
    do
        command ffmpeg -y -i "$i" -i "$1" -map 0:0 -map 1:0 -codec copy -id3v2_version 3 -metadata:s:v title="Album cover" -metadata:s:v comment="Cover (front)" "withArt/$i"
    done
    # shellcheck disable=SC2164
    cd withArt
}
function ff3album() {
    command mkdir withAlbum
    for i in *.mp3
    do
        command ffmpeg -y -i "$i" -c copy -metadata album="$1"  "withAlbum/$i"
    done
    # shellcheck disable=SC2164
    cd withAlbum
}
function ff3artist() {
    command mkdir withArtist
    for i in *.mp3
    do
        command ffmpeg -y -i "$i" -c copy -metadata album_artist="$2" -metadata artist="$2" "withArtist/$i"
    done
    # shellcheck disable=SC2164
    cd withArtist
}
function ff4() {
    command ffmpeg -i "$1" -codec copy -map_metadata 0 -movflags use_metadata_tags "$2"
}
function ff4c() {
    command ffmpeg -i "$1" -vcodec h264 -acodec mp2 "$1"-compressed.mp4
}
