#!/bin/bash
# NOTE: zsh does not read this file

# General
set bell-style none
set show-all-if-ambiguous on
set completion-ignore-case on

"\e[1;5D": backward-word      # Ctrl+Left
"\e[1;5C": forward-word       # Ctrl+Right

"\e[3;5~": kill-word          # Ctrl+Delete (forward)
"\C-h": backward-kill-word    # Ctrl+Backspace (backward)

'\C-n':'cd ..\n'              # C+n goes back a dir

# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
