[user]
	name = Max Vogel
	email = max-v@berkeley.edu
    signingkey = DA2E597476F671AA 

[core]
    # Ignore line end changes (Win -> *nix)
    filemode = false
    autocrlf = input
	editor = nvim

[github]
    user = Mehvix

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[push]
	default = simple

[log]
    decorate = short

[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
    
[init]
	defaultBranch = master

[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
[credentials]
	helper = UseHttpPath=true
[credential]
	helper = store
