[user]
	name = Max Vogel
	email = mehvix@protonmail.com

[core]
	# Ignore line end changes (Win -> *nix)
	filemode = false
	autocrlf = input
	editor = vim

[github]
    user = Mehvix

[diff]
    tool = vimdiff

[merge]
	tool = vimdiff

[push]
    default = current

[log]
    decorate = short

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
    
[init]
	defaultBranch = main
