# Alternatives
alias vim=nvim
alias cat="bat --config-file=~/.config/bat/config"
alias cat=bat
alias l="exa --all --long --header --classify --icons --git --group-directories-first"
alias dirs="exa --list-dirs"
alias tree="exa --tree --level=2"

# Sensible Defaults / Interactive improvements
alias mv="mv -iv"
alias cp="cp -riv"      # Ask confirmation
alias mkdir="mkdir -vp" 
alias mk=mkdir
alias rm="rm -rv"
alias rmdir="rmdir -pv" # Recursive, verbose
alias df="df -h"        # Human-readable sizes
alias free="free -m"    # Show sizes in MB
alias ps="ps -ef"       # All processess running on system

# New commands
alias ipp="echo Your ip is; dig +short myip.opendns.com @resolver1.opendns.com;"
alias speedtest='curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'
function mkcd { 
    mkdir -p $1 && cd $1 
}

# Directories
alias dot="~/Documents/Code/dotfiles"
alias www="/var/www"

# Shortcuts
alias h="history"

# XCompatability
#alias sass="sassc"

# Git
alias gpom="git push origin master"
alias gs="git status"
alias gb="git branch"
alias gco="git checkout"

# ffmpeg
function ff3 {
    command ffmpeg -i $1 -acodec libmp3lame $2
}
function ff4 {
    command ffmpeg -i $1 -codec copy $2
}
function ff4c {
    command ffmpeg -i $1 -vcodec h264 -acodec mp2 $1-compressed.mp4
}

# YT-DLP / youtube-dl
alias youtube-dl="yt-dlp"
alias ytv='yt-dlp --sponsorblock-mark all --sponsorblock-remove sponsor -o "~/Pictures/Computer Misc/%(title)s.%(ext)s"'
alias yta='yt-dlp --yes-playlist -x -o "~/Music/Misc/%(title)s.%(ext)s"'


# ssh
alias ssh="kitty +kitten ssh"
alias sshe="kitty +kitten ssh -F /mnt/veracrypt1/ssh/config"
alias sshk="/mnt/veracrypt1/ssh/"

# ptpython (better repl)
alias py="ptpython --vi"

